@import '../colors';

.HomePage {
  .ErrorMessage__Component {
    margin-top: 1em;
  }

  .Table__Container {
    margin-top: 1em;

    .table__data--id {
      background-color: $primary-light;
      color: $light;
      font-weight: 900;
    }

    .table__data--actions {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: $light;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primary;
        font-size: 12pt;
        transition: transform 500ms ease-out;

        svg {
          margin-right: 5px;
        }

        &:hover {
          transition: transform 400ms ease-out;
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }
  }
}
