@import '../colors';

.HomePage {
  .ErrorMessage__Component {
    margin-top: 1em;
  }

  .Table__Container {
    margin-top: 1em;

    .table__data--id {
      background-color: $primary-light;
      color: $light;
      font-weight: 900;
    }

    .table__data--actions {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: $light;

      svg:hover {
        transform: scale(2);
        cursor: pointer;
      }
    }
  }
}
